@using Lab_23_Entity.Models


<h2>Welcome to our SUPER-COOL ALL-THINGS-MOTORCYLE Shop</h2>
<p>Please <a href="~/Home/Login">Login</a> or <a href="~/Home/Register">Register</a> to continue on to the goodies.</p>
