@using Lab_23_Entity.Models


<h2>Welcome to our SUPER-COOL ALL-THINGS-MOTORCYLE Shop</h2>
<h4>Please <a href="~/Home/Login">Login</a> or <a href="~/Home/Register">Register</a> to continue on to the goodies.</h4>
<h5>Or check out our SHOP page above.</h5>
