<h2> Login Form</h2>
<h3 style="color:red">@Session["Error"]</h3>

<form action="Login" method="post">
    <p>User Name: </p> <input type="text" name="UserName" />
    <p>Password: </p> <input type="password" name="PassWord" />
    <input type="submit" />
</form>