<h2>User Registration</h2>
@**can submit without values. slap a required in the inputs
   can input a negative number in the money field*@

<form action="MakeNewUser" method="post">
    <p>User Name: </p><input name="UserName" />
    <p>Password: </p><input name="PassWord" type="password" />
    <p>Money: </p><input name="Balance" type="number" step=".01" />
    <input type="submit" />
</form>